@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

:root {
  font-size: 15px;

  --clr-primary: hsl(10, 79%, 65%);
  --clr-secondary: hsl(186, 34%, 60%);
  --clr-dark-brown: hsl(25, 47%, 15%);
  --clr-medium-brown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-pale-orange: hsl(33, 100%, 98%);
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
}

/* General Styles */
body {
  background-color: var(--clr-cream);
  padding: 0.75em;
}

ul {
  list-style: none;
}


/* Site-wide Styles */
.container {
  max-width: 486px;
  margin: 10px auto;
}

/* Container Head */
.container-head {
  background-color: var(--clr-primary);
  color: #fff;
  padding: 1.5em;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2em;
}

.container-head-text h1 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.45em;
}

.container-head-text p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Container Body */
.container-body {
  background-color: var(--clr-pale-orange);
  color: var(--clr-medium-brown);
  padding: 2em;
  border-radius: 20px;
}

.container-body h2 {
  color: var(--clr-dark-brown);
}

.bar-lists {
  min-height: 14rem;
  padding-bottom: 1.5em;
  border-bottom: 2.5px solid var(--clr-cream);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bar-list {
  text-align: center;
  position: relative;
}

.bar-amount-text {
  font-size: 0.9rem;
  color: var(--clr-pale-orange);
  background-color: var(--clr-dark-brown);
  font-weight: bold;
  padding: 10px 7.5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.bar-amount {
  width: 2.5rem;
  margin: auto;
  background-color: var(--clr-primary);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.bar-amount:hover {
  opacity: 0.75;
}

.day {
  font-size: 0.8rem;
  margin-top: 10px;
}

.summary {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.summary-amount {
  font-size: 2.2rem;
  color: var(--clr-dark-brown);
  font-weight: bold;
}

.summary-percent {
  text-align: right;
}

.summary-percentage {
  color: var(--clr-dark-brown);
  font-weight: bold;
}

/* Script Classes */
.bar-amount-text.show {
  opacity: 1;
}

.bar-amount.today {
  background-color: var(--clr-secondary);
}