@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

:root {
  font-size: 15px;

  --clr-primary: hsl(10, 79%, 65%);
  --clr-secondary: hsl(186, 34%, 60%);
  --clr-dark-brown: hsl(25, 47%, 15%);
  --clr-medium-brown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-pale-orange: hsl(33, 100%, 98%);
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
}

/* General Styles */
body {
  background-color: var(--clr-cream);
  padding: 0.75em;
}

ul {
  list-style: none;
}


/* Site-wide Styles */
.container {
  max-width: 486px;
  margin: 30px auto;
}

/* Container Head */
.container-head {
  background-color: var(--clr-primary);
  color: #fff;
  padding: 1.5em;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2em;
}

/* Container Body */
.container-body {
  background-color: var(--clr-pale-orange);
  color: var(--clr-medium-brown);
  padding: 2em;
  border-radius: 20px;
}